/*@font-size: 10px;
@font-color: black;
@background-color: #FFFFFF;
@h1-size: 50px;

@font-face {
  font-family: "Connection";
  src: url("../../assets/font/Connection.ttf") format("truetype");
}

head {
}*/
canvas {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  margin: 0;
  padding: 0;
}
body div.container {
  text-align: center;
  margin: 0;
  padding: 0;
}
body div.container div#game {
  margin: 0;
  padding: 0;
}
